

canvas {
	position:absolute;
	z-index:1;
	pointer-events:none;
}


table.fixed {
	table-layout:fixed;
	width:10px; /*setting width allow for fixed cell sized*/
	border-spacing: 0px
	
}


table.fixed td{
    overflow: hidden;
    width: 8px;
    height:8px;
    color: red;
    border: 1px solid grey;
	position:relative
}

table.fixed td.cell {background-color: white;}
table.fixed td.wall {background-color: black;}
table.fixed td.door {background-color: green;}
table.fixed td.charging {background-color: blue;}

table.fixed td:hover:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -9999px;
	bottom: -9999px;
	background-color: rgba(160,0,0,0.8);
}
/
